//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Private/npm registry tokens/npmjs" "my.1password.com" }}
registry=https://sfw.security.sentry.io/npm/
//aiforui.dev/npm/:_authToken={{ onepasswordRead "op://Private/npm registry tokens/aiforui" "my.1password.com" }}
@aiforui:registry=https://aiforui.dev/npm/
